@font-face {
    font-family: 'Space';
    src: url('../assets/fonts/Space_Mono/SpaceMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Space';
    src: url('../assets/fonts/Space_Mono/SpaceMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Space';
    src: url('../assets/fonts/Space_Mono/SpaceMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Space';
    src: url('../assets/fonts/Space_Mono/SpaceMono-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
:root {
  --bg-primary: #000010;
  --bg-secondary: #080818;
  --bg-tertiary: #101020;
  
  --border-color: #181828;
  --border-radius: 0.5rem;
  --border-size: 0.0625rem;

  --text-primary: #FBFBFF;
  --text-secondary: #BCBCC0;
  --text-tertiary: #7C7C80;
  
  --primary-color: #5050FF;
  --secondary-color: #7070FF;
  
  --error-color: #FF5050;
  --warning-alt: #FFFF50;
  --success-color: #50FF50;
  
  --font-main: 'Space', monospace;
  --text-detail: 0.75rem; /* 12px */
  --text-body: 1rem; /* 16px */
  --text-h4: 1.25rem; /* 20px */
  --text-h3: 1.5rem; /* 24px */
  --text-h2: 1.75rem; /* 28px */
  --text-h1: 2rem; /* 32px */
  
  --lg-body: 1.5;
  --lg-heading: 1.25;

  --padding-element: 1.5rem;
  --padding-button-mobile: 0.75rem 1.5rem;
  --padding-button: 0.25rem 0.5rem;
  --gap: 1rem;
  --gap-secondary: 0.5rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%; 
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
body {
    font-family: var(--font-main);
    color: var(--text-primary);
    font-size: var(--text-body);
    line-height: var(--lg-body);
    background-color: var(--bg-primary);
    overflow-x: hidden;
}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 75rem;
}
h1 {
    font-size: var(--text-h1);
    line-height: var(--lg-heading);
    margin-top: 4rem;
    margin-bottom: 2rem;
}
h2 {
    font-size: var(--text-h2);
    line-height: var(--lg-heading);
    margin-top: 2rem;
    margin-bottom: 1rem;
}
h3 {
    font-size: var(--text-h3);
    line-height: var(--lg-heading);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
h4 {
    font-size: var(--text-h4);
    line-height: var(--lg-heading);
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}
p {
    font-size: var(--text-body);
    line-height: var(--lg-body);
    margin-top: 0.25rem;
    margin-bottom: 0.125rem;
}
.details {
    font-style: italic;
    font-size: var(--text-detail);
    line-height: var(--lg-body);
    margin-top: 0.125rem;
    margin-bottom: 0.0625rem;
}
a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    color: var(--secondary-color);
}
ul {
  list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.text-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-secondary);
}
.text-icon>i {
    display: flex;
}
.button-primary, .button-secondary, .button-tertiary, .button-primary:hover, .button-secondary:hover, .button-tertiary:hover {
    padding: var(--padding-button-mobile);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-family: var(--font-main);
    font-size: var(--text-body);
    line-height: var(--lg-body);
    font-weight: bold;
    text-decoration: none;
    border: var(--border-size) solid transparent;
    border-radius: var(--border-radius);
    background-color: transparent;
}
@media (min-width: 62rem) {
    .button-primary, .button-secondary, .button-tertiary, .button-primary:hover, .button-secondary:hover, .button-tertiary:hover {
        padding: var(--padding-button);
    }
}
.button-primary {
    background-color: var(--primary-color);
    color: var(--text-primary);
}
.button-primary:hover {
    background-color: var(--secondary-color);
    color: var(--text-primary);
}
.button-secondary {
    color: var(--primary-color);
    border: solid var(--primary-color) var(--border-size);
}
.button-secondary:hover{
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.button-tertiary {
    color: var(--primary-color);
}
.button-tertiary:hover{
    color: var(--secondary-color);
}
.actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: var(--gap);
}

/* Généré par Gemini */
a:focus-visible, 
.button-primary:focus-visible, 
.button-secondary:focus-visible, 
button:focus-visible {
    outline: 0.125rem dashed var(--primary-color);
    outline-offset: 0.25rem;
}
/* ------------------ */

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--bg-primary);
    border-bottom: solid var(--border-color) 0.125rem;
    padding: 0.5rem 0;
}
header>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}
header>div>h1 {
    font-size: var(--text-h2);
    line-height: var(--lg-body);
    margin-top: 0;
    margin-bottom: 0;
}
header>div>.nav-hidden {
    display: none;
}
header>div>.nav-visible {
    display: flex;
}
header>div>button {
    background-color: var(--bg-primary);
    color: var(--primary-color);
    border: none;
    font-size: var(--text-h2);
    line-height: 0;
    padding: 0.5rem;
    cursor: pointer;
}
header>div>nav>ul>li>a {
    color: var(--text-primary);
    display: inline-block;
    padding: var(--padding-button-mobile);
}
.current-page {
    color: var(--primary-color);
}
@media (min-width: 62rem) {
    header>div>nav>ul>li>a {
        padding: var(--padding-button);
    }
    header>div>.nav-hidden {
        display: flex;
    }
    header>div>.nav-visible {
        display: flex;
    }
    header>div>button {
        display: none;
    }
}

/* MAIN */
main {
    padding: 2rem 0;
}
.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
}
.hero > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
}
.profile-pic {
    width: 0%;
}
@media (min-width: 62rem) {
    .hero {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap);
    }
    .profile-pic {
        width: 25%;
        margin-right: calc(50% - 50vw);
        align-self: flex-end;
    }
}

/* CARDS */
.liste-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--gap);
}
.grid-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--gap);
}
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--bg-secondary);
    border: solid var(--border-color) var(--border-size);
    border-radius: var(--border-radius);
    padding: var(--padding-element);
    gap: var(--gap-secondary);
}
.card-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}
.card-subtitle {
    color: var(--text-secondary);
}
.card-description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--gap-secondary);
    flex: 1 1 auto;
}
.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: var(--gap-secondary);
}
.skill {
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
    border-radius: var(--border-radius);
    border: solid var(--border-color) var(--border-size);
    padding: 0.125rem 0.25rem;
}
.card-details {
    border-top: solid var(--border-color) var(--border-size);
}
@media (min-width: 62rem) {
    .grid-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap);
    }
    .grid-cards > li > .card {
        height: 100%;
    }
}
.text-center {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--gap);
}
.identity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    gap: var(--gap-secondary);
}
form>div,
form>.identity>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
form>.identity>div {
    flex: 1 1 auto;
}
form>div>input,
form>.identity>div>input {
    font-size: var(--text-body);
    padding: 0.5rem;
    border: solid var(--border-color) 0.125rem;
    border-radius: var(--border-radius);
    font-family: Space, monospace;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}
form>div>textarea {
    font-size: var(--text-body);
    padding: 0.5rem;
    height: 16rem;
    border: solid var(--border-color) 0.125rem;
    border-radius: var(--border-radius);
    font-family: Space, monospace;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    resize: vertical;
}
::placeholder {
    color: var(--text-secondary);
}
form>.identity>div>input:focus,
form textarea:focus {
    outline: none;
    border: solid var(--primary-color) 0.125rem;
}
form>button {
    width: 100%;
}
.ou {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    gap: var(--gap);
    color: var(--text-primary);
}
.ou>hr {
    border: var(--border-size) solid  var(--text-primary);
    width: 100%;
}
@media (min-width: 62rem) {
    form {
        width: 75%;
        margin: 0 auto;
    }
    .ou {
        width: 75%;
        margin: 1rem auto;
    }
}

/* POPUP */
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.5rem);
    z-index: 800;
}
.overlay-cache {
    opacity: 0;
    pointer-events: none;
}
.overlay-visible {
    opacity: 1;
    pointer-events: auto;
}
.popup {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary);
    border: solid var(--border-color) var(--border-size);
    border-radius: var(--border-radius);
    padding: 1rem;
    width: auto;
    text-align: center;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
}
.popup-cache{
    opacity: 0;
    pointer-events: none;
}
.popup-visible {
    opacity: 1;
}
.popup-icon {
    font-size: 2rem;
    margin: 1rem 0;
}
.icon-succes {
    color: var(--success-color);
}
.icon-erreur {
    color: var(--error-color);
}
.bloquer-scroll {
    overflow: hidden;
}

/* FOOTER */
footer {
    border-top: solid var(--border-color) 0.125rem;
    padding: 0.5rem 0;
}
footer>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
}
footer>div>div>h2 {
    font-size: var(--text-h3);
    line-height: var(--lg-body);
    margin-top: 0;
    margin-bottom: 0;
}
footer>div>div>h3 {
    font-size: var(--text-h4);
    line-height: var(--lg-body);
    margin-top: 0;
    margin-bottom: 0;
}
footer>div>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
@media (min-width: 62rem) {
    footer>div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: var(--gap);
    }
}