@font-face {
    font-family: 'Space';
    src: url('../assets/fonts/Space_Mono/SpaceMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Space';
    src: url('../assets/fonts/Space_Mono/SpaceMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Space';
    src: url('../assets/fonts/Space_Mono/SpaceMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Space';
    src: url('../assets/fonts/Space_Mono/SpaceMono-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
:root {
  --bg-primary: #000010;
  --bg-secondary: #080818;
  --bg-tertiary: #101020;
  
  --border-color: #181828;
  --border-radius: 0.5rem;

  --text-primary: #FBFBFF;
  --text-secondary: #BCBCC0;
  --text-tertiary: #7C7C80;
  
  --primary-color: #5050FF;
  --secondary-color: #7070FF;
  
  --error-color: #FF5050;
  --warning-alt: #FFFF50;
  --success-color: #50FF50;
  
  --font-main: 'Space', monospace;
  --text-detail: 0.75rem; /* 12px */
  --text-body: 1rem;      /* 16px */
  --text-h3: 1.5rem;        /* 24px */
  --text-h2: 2rem;        /* 32px */
  --text-h1: 3rem;        /* 48px */
  
  --lg-body: 1.5;
  --lg-heading: 1.25;

  --padding-element: 1.5rem;
  --gap: 1rem;
  --gap-secondary: 0.5rem
}

body {
    font-family: var(--font-main);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-size: var(--text-body);
    line-height: var(--lg-body);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
p, h1, h2, h3, a, .details, .text-icon {
    margin: 0;
}
h1 {
    font-size: var(--text-h1);
    line-height: var(--lg-heading);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
h2 {
    font-size: var(--text-h2);
    line-height: var(--lg-heading);
    margin-top: 2rem;
    margin-bottom: 1rem;
}
h3 {
    font-size: var(--text-h3);
    line-height: var(--lg-heading);
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}
p {
    font-size: var(--text-body);
    margin: 0.5rem 0;
}
.details {
    font-style: italic;
    font-size: var(--text-detail);
    margin: 0.5rem 0; 
}
a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    color: var(--secondary-color);
}
.text-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-secondary);
}
.text-icon>i {
    display: flex;
}
.button-primary {
    background-color: var(--primary-color);
    color: var(--text-primary);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    text-decoration: none;
}
.button-primary:hover {
    background-color: var(--secondary-color);
    color: var(--text-primary);
}
.button-secondary {
    background-color: var(--bg-primary);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    border: solid var(--primary-color) 0.0625rem;
    text-decoration: none;
}
.button-secondary:hover{
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--bg-primary);
    border-bottom: solid var(--border-color) 0.0625rem;
}
header>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    width: 90%;
    margin: 0 auto;
}
header>div>h1 {
    font-size: var(--text-h3);
    margin: 0.5rem;
    padding: 0.5rem;
}
header>div>nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    gap: var(--gap);
}
header>div>nav>a {
    color: var(--text-primary);
    padding: 0.5rem 1rem;
}
header>div>nav>a:hover {
    color: var(--primary-color);
}
.current-page {
    color: var(--primary-color);
}

/* MAIN */
main {
    width: 90%;
    margin: 2rem auto;
}
.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: calc(50% - 50vw);
    align-items: center;
    gap: var(--gap);
    border-bottom: solid var(--border-color) 0.0625rem;
}
.actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: var(--gap);
}

/* CARDS */
.liste-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
}
.grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
}
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--bg-secondary);
    border: solid var(--border-color) 0.0625rem;
    border-radius: var(--border-radius);
    padding: var(--padding-element);
    gap: var(--gap);
}
.card>.card-title>h3,
.card>.card-title>p,
.card>.card-subtitle>p,
.card>.card-description>p {
    padding: 0;
    margin: 0;
}
.card-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    width: 100%;
}
.card-subtitle {
    color: var(--text-secondary);
}
.card-description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-secondary);
    flex: 1 1 auto;
}
.card-categorie>p {
    margin: 0;
}
.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: var(--gap-secondary);
}
.skill {
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
    border-radius: var(--border-radius);
    border: solid var(--border-color) 0.0625rem;
    padding: 0.125rem 0.25rem;
    margin: 0;
}
.card-details {
    border-top: solid var(--border-color) 0.0625rem;
    font-style: italic;
    font-size: 0.75rem;
    margin: 0.0625rem 0;
    padding: 0.0625rem 0;
    width: 100%;
}

.text-center {
    text-align: center;
}
form {
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border: solid var(--border-color) 0.0625rem;
    border-radius: 1rem;
    gap: var(--gap);
}
.identity {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    gap: var(--gap-secondary);
}
form>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
form>.identity>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 auto;
}
form>div>input,
form>.identity>div>input {
    font-size: var(--text-body);
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    border: solid var(--border-color) 0.125rem;
    border-radius: var(--border-radius);
    font-family: Space, monospace;
}
form>div>textarea {
    font-size: var(--text-body);
    padding: 0.5rem;
    width: 100%;
    height: 16rem;
    box-sizing: border-box;
    border: solid var(--border-color) 0.125rem;
    border-radius: var(--border-radius);
    font-family: Space, monospace;
    resize: vertical;
}
form>.identity>div>input:focus,
form textarea:focus {
    outline: none;
    border: solid var(--primary-color) 0.125rem;
}
form>button {
    font-size: var(--text-body);
    font-weight: bold;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--text-primary);
    width: 100%;
    box-sizing: border-box;
    border: solid var(--primary-color) 0.0625rem;
    border-radius: var(--border-radius);
    font-family: Space, monospace;
    cursor: pointer;
}
form>button:hover {
    background-color: var(--secondary-color);
}
.ou {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 1rem auto;
    gap: var(--gap);
    color: var(--text-primary);
}
.ou>hr {
    border: 0.0625rem solid  var(--text-primary);
    width: 100%;
}

/* POPUP */
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.5rem);
    z-index: 800;
}
.overlay-cache {
    opacity: 0;
    pointer-events: none;
}
.overlay-visible {
    opacity: 1;
    pointer-events: auto;
}
.popup {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary);
    border: solid var(--border-color) 0.0625rem;
    border-radius: var(--border-radius);
    padding: 1rem;
    width: auto;
    text-align: center;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
}
.popup-cache{
    opacity: 0;
    pointer-events: none;
}
.popup-visible {
    opacity: 1;
}
.popup-icon {
    font-size: 2rem;
    margin: 1rem 0;
}
.icon-succes {
    color: var(--success-color);
}
.icon-erreur {
    color: var(--error-color);
}
.bloquer-scroll {
    overflow: hidden;
}

/* FOOTER */
footer {
    border-top: solid var(--border-color) 0.0625rem;
}
footer>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    width: 90%;
    margin: 1rem auto;
}
footer>div>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
footer>div>div>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer>div>div>h2 {
    font-size: var(--text-h3);
    margin: 0;
    padding: 0;
}
footer h2,
footer h3,
footer p {
    margin: 0;
    padding: 0;
}