@font-face {
    font-family: 'Space';
    src: url('../assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Space';
    src: url('../assets/fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Space';
    src: url('../assets/fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Space';
    src: url('../assets/fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    background-color: #121212;
    color: #E0E0E0;
    margin: 0;
    padding: 0;
    font-family: Space, monospace;
}

h1 {
    font-size: 2rem;
    margin: 0.75rem 0;
    padding: 0.75rem 0;
}
h2 {
    font-size: 1.75rem;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}
h3 {
    font-size: 1.5rem;
    margin: 0.25rem 0;
    padding: 0.25rem 0;
}
h4 {
    font-size: 1.25rem;
    margin: 0.125rem 0;
    padding: 0.125rem 0;
}
p {
    font-size: 1rem;
    margin: 0.0625rem 0;
    padding: 0.0625rem 0;
}
.details {
    font-style: italic;
    font-size: 0.75rem;
    margin: 0.0625rem 0;
    padding: 0.0625rem 0;
}
a {
    color: #4A90E2;
    text-decoration: none;
    font-size: 1rem;
    margin: 0.25rem 0;
    padding: 0.25rem 0;
}

img {
    width: 50%;
    height: auto;
}
i {
    display: flex;
}

ul {
    margin: 0.0625rem;
}

.TextIcon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.TextIcon>a,
.TextIcon>i {
    margin: 0 0.25rem;
    color: #E0E0E0;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 1000;

    background-color: #121212;
    border-bottom: solid #1E1E1E 0.125rem;
}
header>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;

    width: 90%;
    margin: 0 auto;
}
header>div>h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}
header>div>nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
}
header>div>nav>a {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.25rem;
}

/* MAIN */
main {
    width: 90%;
    margin: 2rem auto;
}
.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.cards-histoire {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}
.card-title-histoire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    color: #4A90E2;
    width: 100%;
}
.cards-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #1E1E1E;
    border: solid #333333 0.0625rem;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
}
.card-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    color: #4A90E2;
    width: 100%;
}
.card-title>h3,
.card-title>i {
    line-height: 1;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}
.card-categorie {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}
.skill {
    background-color: #2A2A2A;
    color: #E0E0E0;
    border-radius: 1rem;
    font-family: 'Space', monospace;
    border: solid #444444 0.0625rem;
    margin: 0.25rem;
    padding: 0.125rem 0.25rem;
}
.card-details {
    border-top: solid #444444 0.0625rem;
    font-style: italic;
    font-size: 0.75rem;
    margin: 0.0625rem 0;
    padding: 0.0625rem 0;
    width: 100%;
}

form {
    width: 60%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border: solid #333333 0.0625rem;
    border-radius: 0.5rem;
}
form>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0.5rem;
}
form>.identity>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    margin-bottom: 0.5rem;
}
form>div>label,
form>.identity>div>label {
    font-size: 1rem;
    margin: 0.125rem 0;
    padding: 0.25rem;
}
form>div>input,
form>.identity>div>input {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.125rem 0;
    width: 100%;
    /*height: 2rem;*/
    box-sizing: border-box;
    border: solid #333333 0.125rem;
    border-radius: 0.5rem;
    font-family: Space, monospace;
}
form>div>textarea {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.125rem 0;
    width: 100%;
    height: 16rem;
    box-sizing: border-box;
    border: solid #333333 0.125rem;
    border-radius: 0.5rem;
    font-family: Space, monospace;
    resize: vertical;
}
.identity {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    gap: 0.5rem;
}
form>button {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.125rem 0;
    background-color: #4A90E2;
    color: #E0E0E0;
    width: 100%;
    /*height: 2.5rem;*/
    box-sizing: border-box;
    border: solid #444444 0.0625rem;
    border-radius: 0.5rem;
    font-family: Space, monospace;
    cursor: pointer;
    /* Transforme la souris en petite main */
    transition: background-color 0.3s ease;
    /* Rend le changement de couleur fluide */
}
form>button:hover {
    background-color: #357ABD;
}
form>.identity>div>input:focus,
form textarea:focus {
    outline: none;
    border: solid #4A90E2 0.125rem;
}
.form-title {
    text-align: center;
}

/* FOOTER */
footer {
    border-top: solid #1E1E1E 0.125rem;
}
footer>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    width: 90%;
    margin: 0 auto;
}
footer>div>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
footer>div>div>ul {
    list-style: none;
    padding: 0;
}
footer>div>div>ul>li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
footer>div>div>ul>li>i,
footer>div>div>ul>li>p,
footer>div>div>ul>li>a {
    margin: 0 0.25rem;
}