@font-face {
    font-family: 'Space'; /* Le nom que vous choisissez d'utiliser dans votre code */
    src: url('../assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype'); /* Le chemin vers le fichier */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Space'; /* Le nom que vous choisissez d'utiliser dans votre code */
    src: url('../assets/fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype'); /* Le chemin vers le fichier */
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Space'; /* Le nom que vous choisissez d'utiliser dans votre code */
    src: url('../assets/fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype'); /* Le chemin vers le fichier */
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Space'; /* Le nom que vous choisissez d'utiliser dans votre code */
    src: url('../assets/fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype'); /* Le chemin vers le fichier */
    font-weight: bold;
    font-style: italic;
}

body {
    background-color: #121212;
    color: #E0E0E0;
    
    margin: 0;
    padding: 0;

    font-family: Space, monospace;
}
h1 {
    font-size: 2rem;
    margin: 0.75rem 0;
    padding: 0.75rem 0;
}
h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}
h3 {
    font-size: 1.25rem;
    margin: 0.25rem 0;
    padding: 0.25rem 0;
}
p {
    font-size: 1rem; 
    margin: 0.125rem 0;
    padding: 0.125rem 0;
}
.details {
    font-style: italic;
    font-size: 0.75rem;
    margin: 0.0625rem 0;
    padding: 0.0625rem 0;
}
a {
    color: #4A90E2;
    text-decoration: none;
    font-size: 1rem; 
    margin: 0.25rem 0;
    padding: 0.25rem 0;
}
img {
    width: 50%;
    height: auto;
}


/* HEADER */
header  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;

    position: sticky;
    top: 0;
    z-index: 1000;

    background-color: #121212;
    border-bottom: solid #1E1E1E 0.125rem;
}
header > nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
}
header > nav > a {
    padding: 0.5rem;
    margin: 0.5rem;
}


/* MAIN */
main {
    width: 95%;
    margin: 2rem auto;
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;

    width: 75%;
}
.item-titre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    color: #4A90E2;
    width: 100%;
}


/* FOOTER */
footer  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;

    border-top: solid #1E1E1E 0.125rem;
}
footer > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
footer > div > ul {
    list-style: none;
    padding: 0;
}
footer > div > ul > li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
footer > div > ul > li > i, p , a {
    margin: 0 0.25rem;
}